@media only screen and (max-width:900px){
            
    /* Navigation Section */
    .navbar{
        display: flex;
        flex-direction: column;
    }

    /* Services */
    #services{
        flex-direction: column;
    }


    /* Client Section */
    


    /* Contact Us */
}
@media only screen and (max-width:766px)
/* Home Section*/

{
    .h-primary{
        font-size: 2.4rem;
    }
}
@media only screen and (max-width:670px)

{

.navbar ul li a{
    font-size: 1rem;
    padding: 0px 5px;
}

section#home{
    padding: 2px 80px;
}
#client{
    flex-wrap: wrap;
}
#client-section::before{
    height: 600px;
}
}
@media only screen and (max-width:443px){
#client-section::before{
    height: 930px;  
}
}